<div class="modaal-example">
	<h2>Image Gallery</h2>
	<p>Opens a series of images linked by a <span class="inline-code">rel="<span>group-name</span>"</span> attribute. Replace <span class="inline-code"><span>group-name</span></span> with what your gallery group identifier.</p>

	<pre><strong>HTML</strong>&lt;a href="path/to/image-1.jpg" rel="gallery" class="gallery"&gt;Show&lt;/a&gt;
&lt;a href="path/to/image-2.jpg" rel="gallery" class="gallery"&gt;Show&lt;/a&gt;
&lt;a href="path/to/image-3.jpg" rel="gallery" class="gallery"&gt;Show&lt;/a&gt;</pre>
	<pre><strong>JS</strong>$('.gallery').modaal({
	type: 'image'
});</pre>

	<a href="img/temp/gallery-1.jpg" rel="gallery" class="modaal-image gallery-thumb" data-modaal-desc="Test image for modal gallery"><span class="ui-hidden">Show Gallery Image 1</span><img src="img/temp/gallery-thumb-1.jpg" alt="Thumbnail for Gallery Image 1"></a>
	<a href="img/temp/gallery-2.jpg" rel="gallery" class="modaal-image gallery-thumb" data-modaal-desc="Another description"><span class="ui-hidden">Show Gallery Image 2</span><img src="img/temp/gallery-thumb-2.jpg" alt="Thumbnail for Gallery Image 2"></a>
	<a href="img/temp/gallery-3.jpg" rel="gallery" class="modaal-image gallery-thumb"><span class="ui-hidden">Show Gallery Image 3</span><img src="img/temp/gallery-thumb-3.jpg" alt="Thumbnail for Gallery Image 3"></a>
</div><!-- .modaal-example -->
