<div class="modaal-example">
	<h2>iFrame</h2>
	<p>Loads a url as defined in the link href attribute, into an iframe. This requires a set width and height for the Modaal to also be defined.</p>

	<pre><strong>HTML</strong>&lt;a href="http://humaan.com" class="iframe"&gt;Show&lt;/a&gt;</pre>
	<pre><strong>JS</strong>$('.iframe').modaal({
		type: 'iframe',
		width: 700,
		height: 500
});</pre>
	<a href="http://humaan.com" class="btn modaal-iframe">Show <span class="ui-hidden">iFrame</span> Modaal</a>
</div><!-- .modaal-example -->
