<div class="modaal-example example-no-brdr">
	<h2>Inline Attribute Configuration</h2>
	<p>Modaal has been developed to support common jQuery configuration options, but in an effort to extend functionality and widen it's usage we've developed support for inline <span class="inline-code">data-option-name</span> attribute support.</p>
	<p>To enable this, the Modaal trigger link must have a class of <span class="inline-code">modaal</span>, then you can add attributes to the link as needed like so:</p>

	<pre><strong>HTML</strong>&lt;a href="#inline" <span>data-modaal-type</span>="inline" <span>data-modaal-animation</span>="fade" class="modaal"&gt;Show&lt;/a&gt;</pre>

	<p>It's important to note, that configuration options that contain an underscore (<span class="inline-code">_</span>) in them need to be replaced with a hyphen (<span class="inline-code">-</span>), and prefixes with <span class="inline-code">data-modaal-</span> in it's respective html attribute.	For example, <span class="inline-code">overlay_opacity</span> configuration would read <span class="inline-code">data-modaal-overlay-opacity="0.8"</span>.</p>

	<a href="#inline-content" data-modaal-type="inline" data-modaal-animation="fade" data-modaal-accessible-title="Inline Dialog Window" class="btn modaal">Show <span class="ui-hidden">Inline</span> Modaal</a>
</div><!-- .modaal-example -->
