<div class="modaal-example">
	<h2>Confirmation Modaal</h2>
	<p>Modaal window to prompt the user to Confirm or Cancel a particular action. Content can be pushed through including callback events as necessary. By default once open, it can not be closed until an action has been selected (such as Confirm/Cancel).</p>

	<pre><strong>HTML</strong>&lt;a href="javascript:void(0);" class="confirm"&gt;Show&lt;/a&gt;</pre>
	<pre><strong>JS</strong>$('.confirm').modaal({
		type: 'confirm',
		confirm_button_text: 'Confirm',
		confirm_cancel_button_text: 'Cancel',
		confirm_title: 'Confirm Action XYZ',
		confirm_content: '&lt;p&gt;Maecenas sed diam eget risus varius blandit sit amet non magna.&lt;/p&gt;',
		confirm_callback: function() {
					alert('you have confirmed this action');
				}
});</pre>

	<a href="javascript:void(0);" class="btn modaal-confirm">Show <span class="ui-hidden">Confirm</span> Modaal</a>
</div><!-- .modaal-example -->
