<div class="modaal-example">
	<h2>Fullscreen Mode</h2>
	<p>Fullscreen mode will open the Modaal window to fill the entire viewport. If the content exceeds the height of the window, the dialog will scroll vertically to allow access to all content.</p>
	<p>Fullscreen mode works best with inline and ajax based modals only. Currently no support for fullscreen images.</p>

	<pre><strong>JS</strong>$('.fullscreen').modaal({
	fullscreen: true
});</pre>

	<a href="#inline-content" class="btn fullscreen">Show <span class="ui-hidden">Fullscreen</span> Modaal</a>
</div><!-- .modaal-example -->
